<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
  <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="CodedThemes"/>
      <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app"/>
      <meta name="author" content="CodedThemes"/>
      <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />  
  <h:outputStylesheet name="jquery.mCustomScrollbar.css" library="css" />
  <h:outputStylesheet name="style.css" library="css" />
  <h:outputStylesheet name="icofont.css" library="css" />
  <h:outputStylesheet name="themify-icons.css" library="css" />
  <h:outputStylesheet name="themify-icons.css" library="css" />
  <h:outputStylesheet name="bootstrap.min.css" library="css" />
</h:head>

<body>

 <div id="pcoded" class="pcoded">
 	<div class="pcoded-container navbar-wrapper">
 			<ui:insert name="header">
        		<ui:include src="/fragments/logoHeader.xhtml" />
    		</ui:insert>
    		<ui:insert name="sideMenu">
        		<ui:include src="/fragments/sidemenu.xhtml" />
    		</ui:insert>
 	</div>
 
 </div>
 
 <h:outputScript name="jquery.min.js" library="js" />
 <h:outputScript name="jquery-ui.min.js" library="js" />
 <h:outputScript name="popper.min.js" library="js" />
 <h:outputScript name="bootstrap.min.js" library="js" />
 <h:outputScript name="jquery.slimscroll.js" library="js" />
 <h:outputScript name="modernizr.js" library="js" />
 <h:outputScript name="css-scrollbars.js" library="js" />
 <h:outputScript name="classie.js" library="js" />
 <h:outputScript name="accordion.js" library="js" />
 <h:outputScript name="script.js" library="js" />
 <h:outputScript name="pcoded.min.js" library="js" />
 <h:outputScript name="demo-12.js" library="js" />
 <h:outputScript name="jquery.mCustomScrollbar.concat.min.js" library="js" />

</body>
</html>
