<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<ui:composition template="/layouts/adminLayout.xhtml">
		<ui:define name="content">

			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">CAMPS LIST</h4>
					<p:dataTable value="#{adminController.campsList}" var="camp" style="width:80%">
						<p:column>
							<f:facet name="header" >Code</f:facet>
							<p:outputLabel>#{camp.campCode}</p:outputLabel>
						</p:column>
						<p:column>
							<f:facet name="header" >Name</f:facet>
							<p:outputLabel>#{camp.campName}</p:outputLabel>
						</p:column>
						<p:column>
							<f:facet name="header" >Capacity(fml)</f:facet>
							<p:outputLabel>#{camp.capacity}</p:outputLabel>
						</p:column>
						<p:column>
							<f:facet name="header" >Location</f:facet>
							<p:outputLabel>#{camp.location.name}</p:outputLabel>
						</p:column>
					</p:dataTable>
				</div>	
			</div>		
					<p:messages></p:messages>
		</ui:define>
	</ui:composition>


</h:body>
</html>
