<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<ui:composition template="/layouts/adminLayout.xhtml">
		<ui:define name="content">

			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">CAMP INFORMATION</h4>
					<h:form>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Camp Name</label>
							<div class="col-sm-6">
								<h:inputText type="text" class="form-control" value="#{adminController.camp.campName}"/>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Camp Capacity (families)</label>
							<div class="col-sm-6">
								<h:inputText type="text" class="form-control" value="#{adminController.camp.capacity}"/>
							</div>
						</div>
						<h4 class="sub-title">CAMP LOCATION</h4>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Province</label>
							<div class="col-sm-7">
								<h:selectOneMenu id="p" style="appearance: hyperlink" value="#{adminController.provCode}">
                                    <f:selectItem  itemLabel="Select Province"  noSelectionOption="true"/>
                                    <f:selectItems value="#{adminController.provinces}" var="prov" itemValue="#{prov.code}" itemLabel="#{prov.name}"/>
                                	<p:ajax listener="#{adminController.provinceDitricts()}" update="d" onchange="doSomething"/>
                                </h:selectOneMenu>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">District</label>
							<div class="col-sm-7">
								<h:selectOneMenu id="d" style="appearance: hyperlink" value="#{adminController.distrCode}">
                                    <f:selectItem  itemLabel="Select District"  noSelectionOption="true"/>
                                    <f:selectItems value="#{adminController.districts}" var="distr" itemValue="#{distr.code}" itemLabel="#{distr.name}"/>
                                	<p:ajax listener="#{adminController.districtSectors()}" update="s" onchange="doSomething"/>
                                </h:selectOneMenu>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Sector</label>
							<div class="col-sm-7">
								<h:selectOneMenu id="s" style="appearance: hyperlink" value="#{adminController.sectCode}">
                                    <f:selectItem  itemLabel="Select Sector"  noSelectionOption="true"/>
                                    <f:selectItems value="#{adminController.sectors}" var="sect" itemValue="#{sect.code}" itemLabel="#{sect.name}"/>
                                	<p:ajax listener="#{adminController.sectorCells()}" update="c" onchange="doSomething"/>
                                </h:selectOneMenu>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Cell</label>
							<div class="col-sm-7">
								<h:selectOneMenu id="c" style="appearance: hyperlink" value="#{adminController.cellCode}">
                                    <f:selectItem  itemLabel="Select Cell"  noSelectionOption="true"/>
                                    <f:selectItems value="#{adminController.cells}" var="cell" itemValue="#{cell.code}" itemLabel="#{cell.name}"/>
                                	
                                </h:selectOneMenu>
							</div>
						</div>
						<div class="row m-t-30">
                                    <div class="col-md-2">
                                        <h:commandButton action="#{adminController.registerCamp()}"
                                        class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" 
                                        value="Register"></h:commandButton>
                                    </div>
                                </div>
					</h:form>
				</div>
			</div>

					<p:messages></p:messages>
		</ui:define>
	</ui:composition>


</h:body>
</html>
