<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<body>
	<ui:composition>
		<nav class="pcoded-navbar">
			<div class="sidebar_toggle">
				<a href="#"><i class="icon-close icons"></i></a>
			</div>
			<div class="pcoded-inner-navbar main-menu">
				<div class="pcoded-navigatio-lavel"
					data-i18n="nav.category.navigation">Camp Site</div>
				<ul class="pcoded-item pcoded-left-item">
					<li><a
						href="#{baseController.getContextPath()}/templates/admin/createCamp.xhtml">
							<span class="pcoded-micon"><i class="ti-home"></i><b>C</b></span>
							<span class="pcoded-mtext" data-i18n="nav.dash.main">Register
								Camp Site</span> <span class="pcoded-mcaret"></span>
					</a></li>
					<li class="pcoded-hasmenu"><a href="javascript:void(0)"> <span
							class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span> <span
							class="pcoded-mtext" data-i18n="nav.basic-components.main">Camp</span>
							<span class="pcoded-mcaret"></span>
					</a>
						<ul class="pcoded-submenu">
							<li class=" "><a href="#{baseController.getContextPath()}/templates/admin/createCamp.xhtml"> <span
									class="pcoded-micon"><i class="ti-angle-right"></i></span> <span
									class="pcoded-mtext" data-i18n="nav.basic-components.alert">Register
								Camp Site</span>
									<span class="pcoded-mcaret"></span>
							</a></li>
							<li class=" "><a href="#{baseController.getContextPath()}/templates/admin/campsList.xhtml"> <span
									class="pcoded-micon"><i class="ti-angle-right"></i></span> <span
									class="pcoded-mtext"
									data-i18n="nav.basic-components.breadcrumbs">
								Camp Sites List</span>
									<span class="pcoded-mcaret"></span>
							</a></li>

						</ul></li>
				</ul>
				<div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">FAMILY</div>
				<ul class="pcoded-item pcoded-left-item">
					<li class="pcoded-hasmenu"><a href="javascript:void(0)"> <span
							class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span> <span
							class="pcoded-mtext" data-i18n="nav.basic-components.main">Families Management</span>
							<span class="pcoded-mcaret"></span>
					</a>
						<ul class="pcoded-submenu">
							<li class=" "><a href="#{baseController.getContextPath()}/templates/admin/createCamp.xhtml"> <span
									class="pcoded-micon"><i class="ti-angle-right"></i></span> <span
									class="pcoded-mtext" data-i18n="nav.basic-components.alert">Register
								Family</span>
									<span class="pcoded-mcaret"></span>
							</a></li>
							<li class=" "><a href="#{baseController.getContextPath()}/templates/admin/campsList.xhtml"> <span
									class="pcoded-micon"><i class="ti-angle-right"></i></span> <span
									class="pcoded-mtext"
									data-i18n="nav.basic-components.breadcrumbs">
								Families List</span>
									<span class="pcoded-mcaret"></span>
							</a></li>

						</ul></li>
				</ul>
				
				<ul class="pcoded-item pcoded-left-item cpcoded-submenu">
					<li><a href="form-elements-component.html"> <span
							class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span> <span
							class="pcoded-mtext" data-i18n="nav.form-components.main">Found Children</span> <span class="pcoded-mcaret"></span>
					</a></li>
					<li><a href="bs-basic-table.html"> <span
							class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span> <span
							class="pcoded-mtext" data-i18n="nav.form-components.main">Lost Children</span> <span class="pcoded-mcaret"></span>
					</a></li>

				</ul>

				<div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">USER MANAGEMENT</div>
				<ul class="pcoded-item pcoded-left-item">
					<li><a href="chart.html"> <span class="pcoded-micon"><i
								class="ti-layers"></i><b>FC</b></span> <span class="pcoded-mtext"
							data-i18n="nav.form-components.main">New User</span> <span
							class="pcoded-mcaret"></span>
					</a></li>
					<li><a href="map-google.html"> <span class="pcoded-micon"><i
								class="ti-layers"></i><b>FC</b></span> <span class="pcoded-mtext"
							data-i18n="nav.form-components.main">Users List</span> <span
							class="pcoded-mcaret"></span>
					</a></li>
					<li><a href="map-google.html"> <span class="pcoded-micon"><i
								class="ti-layout-grid2-alt"></i><b>FC</b></span> <span class="pcoded-mtext"
							data-i18n="nav.form-components.main">User Categories</span> <span
							class="pcoded-mcaret"></span>
					</a></li>
			
				</ul>

				<div class="pcoded-navigatio-lavel" data-i18n="nav.category.other">EQUIPMENTS</div>
				<ul class="pcoded-item pcoded-left-item">
					<li><a href="map-google.html"> <span class="pcoded-micon"><i
								class="ti-layers"></i><b>FC</b></span> <span class="pcoded-mtext"
							data-i18n="nav.form-components.main">Records Equipments</span> <span
							class="pcoded-mcaret"></span>
					</a></li>
					<li><a href="map-google.html"> <span class="pcoded-micon"><i
								class="ti-layout-grid2-alt"></i><b>FC</b></span> <span class="pcoded-mtext"
							data-i18n="nav.form-components.main">Equipments List</span> <span
							class="pcoded-mcaret"></span>
					</a></li>
					<li><a href="map-google.html"> <span class="pcoded-micon"><i
								class="ti-layers"></i><b>FC</b></span> <span class="pcoded-mtext"
							data-i18n="nav.form-components.main">Equipments Distribution</span> <span
							class="pcoded-mcaret"></span>
					</a></li>
				</ul>
			</div>
		</nav>

	</ui:composition>
</body>
</html>