<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
  <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="CodedThemes"/>
      <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app"/>
      <meta name="author" content="CodedThemes"/>
      <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />  
  <h:outputStylesheet name="jquery.mCustomScrollbar.css" library="css" />
  <h:outputStylesheet name="style.css" library="css" />
  <h:outputStylesheet name="icofont.css" library="css" />
  <h:outputStylesheet name="themify-icons.css" library="css" />
  <h:outputStylesheet name="themify-icons.css" library="css" />
  <h:outputStylesheet name="bootstrap.min.css" library="css" />
</h:head>

<body>

 <section class="login p-fixed d-flex text-center bg-primary common-img-bg">
        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    <div class="login-card card-block auth-body mr-auto ml-auto">
                        <div class="md-float-material">
                            <div class="text-center">
                                <h3>DCMS</h3>
                            </div>
                            <div class="auth-box">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-left txt-primary">Sign In</h3>
                                    </div>
                                </div>
                                <hr/>
                                <h:form>
                                	<div class="input-group">
                                    <h:inputText  class="form-control" value="#{loginController.user.username}" placeholder="User Name" ></h:inputText>
                                    <span class="md-line"></span>
                                </div>
                                <div class="input-group">
                                    <h:inputSecret  class="form-control" value="#{loginController.user.password}" placeholder="Password"> </h:inputSecret>
                                    <span class="md-line"></span>
                                </div>
                       
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <h:commandButton action="#{loginController.validateUsernamePassword()}"
                                        class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" 
                                        value="Sign in"></h:commandButton>
                                    </div>
                                </div>
                                </h:form>
                                <hr/>
                                

                            </div>
                        </div>
                        <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
        
    </section>
 
 <h:outputScript name="jquery.min.js" library="js" />
 <h:outputScript name="jquery-ui.min.js" library="js" />
 <h:outputScript name="popper.min.js" library="js" />
 <h:outputScript name="bootstrap.min.js" library="js" />
 <h:outputScript name="jquery.slimscroll.js" library="js" />
 <h:outputScript name="modernizr.js" library="js" />
 <h:outputScript name="css-scrollbars.js" library="js" />
 <h:outputScript name="classie.js" library="js" />
 <h:outputScript name="accordion.js" library="js" />
 <h:outputScript name="script.js" library="js" />
 <h:outputScript name="pcoded.min.js" library="js" />
 <h:outputScript name="demo-12.js" library="js" />
 <h:outputScript name="jquery.mCustomScrollbar.concat.min.js" library="js" />

</body>
</html>
