<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="CodedThemes" />
	<meta name="keywords"
		content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app" />
	<meta name="author" content="CodedThemes" />
	<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600"
		rel="stylesheet" />
	<h:outputStylesheet name="jquery.mCustomScrollbar.css" library="css" />
	<h:outputStylesheet name="style.css" library="css" />
	<h:outputStylesheet name="icofont.css" library="css" />
	<h:outputStylesheet name="animate.css" library="css" />
	<h:outputStylesheet name="themify-icons.css" library="css" />
	<h:outputStylesheet name="bootstrap.min.css" library="css" />
</h:head>

<body>

	<div id="pcoded" class="pcoded">
		<div class="pcoded-container navbar-wrapper">
			<ui:insert name="header">
				<ui:include src="/fragments/logoHeader.xhtml" />
			</ui:insert>
			<ui:insert name="sideMenu">
				<ui:include src="/fragments/sidemenu.xhtml" />
			</ui:insert>

			<div class="main-body">
				<div class="page-wrapper">
					<div class="page-body">
						<div class="row">
							<div class="col-sm-12">
								<div class="card">
									<div class="card-header">
										<h5>Basic Form Inputs</h5>
										<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code>
											tag
										</span>
										<div class="card-header-right">
											<i class="icofont icofont-spinner-alt-5"></i>
										</div>

										<div class="card-header-right">
											<i class="icofont icofont-spinner-alt-5"></i>
										</div>

									</div>
									<div class="card-block">
										<h4 class="sub-title">Basic Inputs</h4>
										<form>
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">Simple Input</label>
												<div class="col-sm-10">
													<input type="text" class="form-control"/>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">Placeholder</label>
												<div class="col-sm-10">
													<input type="text" class="form-control-sm"
														placeholder="Type your title in Placeholder"/>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">Password</label>
												<div class="col-sm-10">
													<input type="password" class="form-control"
														placeholder="Password input">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">Read only</label>
												<div class="col-sm-10">
													<input type="text" class="form-control"
														placeholder="You can't change me" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">Disable Input</label>
												<div class="col-sm-10">
													<input type="text" class="form-control"
														placeholder="Disabled text" disabled>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">Predefine
													Input</label>
												<div class="col-sm-10">
													<input type="text" class="form-control"
														value="Enter yout content after me">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">Select Box</label>
												<div class="col-sm-10">
													<select name="select" class="form-control">
														<option value="opt1">Select One Value Only</option>
														<option value="opt2">Type 2</option>
														<option value="opt3">Type 3</option>
														<option value="opt4">Type 4</option>
														<option value="opt5">Type 5</option>
														<option value="opt6">Type 6</option>
														<option value="opt7">Type 7</option>
														<option value="opt8">Type 8</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">Round Input</label>
												<div class="col-sm-10">
													<input type="text" class="form-control form-control-round"
														placeholder=".form-control-round">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">Maximum
													Length</label>
												<div class="col-sm-10">
													<input type="text" class="form-control"
														placeholder="Content must be in 6 characters"
														maxlength="6">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">Disable
													Autocomplete</label>
												<div class="col-sm-10">
													<input type="text" class="form-control"
														placeholder="Autocomplete Off" autocomplete="off">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">Static Text</label>
												<div class="col-sm-10">
													<div class="form-control-static">Hello !... This is
														static text</div>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">Color</label>
												<div class="col-sm-10">
													<input type="color" class="form-control">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">Upload File</label>
												<div class="col-sm-10">
													<input type="file" class="form-control">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">Textarea</label>
												<div class="col-sm-10">
													<textarea rows="5" cols="5" class="form-control"
														placeholder="Default textarea"></textarea>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	</div>

	<h:outputScript name="jquery.min.js" library="js" />
	<h:outputScript name="jquery-ui.min.js" library="js" />
	<h:outputScript name="popper.min.js" library="js" />
	<h:outputScript name="bootstrap.min.js" library="js" />
	<h:outputScript name="jquery.slimscroll.js" library="js" />
	<h:outputScript name="modernizr.js" library="js" />
	<h:outputScript name="css-scrollbars.js" library="js" />
	<h:outputScript name="classie.js" library="js" />
	<h:outputScript name="accordion.js" library="js" />
	<h:outputScript name="script.js" library="js" />
	<h:outputScript name="pcoded.min.js" library="js" />
	<h:outputScript name="demo-12.js" library="js" />
	<h:outputScript name="jquery.mCustomScrollbar.concat.min.js"
		library="js" />

</body>
</html>
